.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-box {
  background-color: white;
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.confirmation-text {
  text-align: center;
  margin-bottom: 20px;
}

.confirmation-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.confirmation-buttons button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.confirmation-buttons button:hover {
  background-color: #0062cc;
}
