@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.countdown-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
}

.countdown-number,
.countdown-separator {
  font-size: 1.5rem;
}
